@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, Verdana;
}
/* header */
.logo-container{
    height: 100px;
    margin: 10px 20px;
}
.logo-container h1{
    display: inline-block;
}
.logo-container h1,
.logo-container img{ 
    vertical-align: middle;
}
/* Content Page */
.main-container{
    margin: 0 auto;
    max-width: 70vw;
}
.action-container{
    margin: 20px 0;
}
.action-item{
    color: #aaa;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #aaa;
    text-transform: capitalize;
}
.evi{
    color: #fff;
    border: 1px solid #00a2ff;
    background-color: #00a2ff;
}
/* list section */
.list{
    margin: 40px 0;
}
.item-list{
    margin: 30px 0;
}
.sub-list li{
    margin: 10px 0 20px 10px;
}
.tag{
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    text-transform: capitalize;
}
.editorial{
    background-color: #00a2ff
}
.q1-goals{
    background-color: #a200ff;
}
.recruiting{
    background-color: #2a9400;
}
.mobile{
    background-color: #ffaa00;
}
.website{
    background-color: #e7538c;
}
.sales{
    background-color: #89cf6d;
}