@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif, Verdana;
}
/* header */
.logo-container{
    height: 100px;
    margin: 10px 20px;
}
.logo-container h1{
    display: inline-block;
}
.logo-container img, 
.logo-container h1{
    vertical-align: middle;
}
/* Content Page */
.main-container{
    max-width: 70vw;
    margin: 0 auto;
}
.action-container{
    margin: 20px 0;
}
.action-item{
    color: #aaa;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #aaa;
    text-transform: capitalize;
}
.evi{
    border: 0px;
    color: #fff;
    background-color: #00a2ff;
}
/* list section */
.list{
    margin: 40px 0;
}
.item-list{
    margin: 30px 0;
}
.sub-list li{
    margin: 10px 0 20px 5px;
}
.tag{
    display: inline-block;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 10px;
    text-transform: capitalize;
}
.editorial{
    background-color: #00a2ff
}
.q1-goals{
    background-color: #a200ff;
}
.recruiting{
    background-color: #2a9400;
}
.mobile{
    background-color: #ffaa00;
}
.website{
    background-color: #e7538c;
}
.sales{
    background-color: #89cf6d;
}
/* debug */
.debug * {
    border: 1px solid #ff0000;
}